@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Futura";
  src: url("/fonts/futura_bt/futura-medium-condensed-bt.ttf")
    format("opentype");
}

body {
  font-family: "Futura";
  @apply h-dvh bg-black overflow-hidden;
}
