@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Futura BT Condensed";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/futura_bt/futura-medium-condensed-bt.ttf) format("opentype");
  }

  @font-face {
    font-family: "Futura LT Condensed";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/futura_lt/FuturaLT-CondensedBold.ttf) format("opentype");
  }

  * {
    @apply m-0 p-0 box-border;
  }

  body {
    @apply h-dvh bg-black ;
  }
}
